# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea/*
.idea\workspace.xml
*.pyc
/.venv/*
/backup/*
/activate/*
/dist/*
/build/*
/env/*
/Tesseract-OCR/*
/test/*
/__pycache__/*
*.spec
/postprocessing/__pycache__/*
/preprocessing/__pycache__/*

